[Unit]
Description=Displays audio visualizer in the background.
PartOf=graphical-session.target

[Service]
Type=simple
Restart=always
ExecStart=%h/.config/sway/cava-bg
ExecReload=/usr/bin/pkill -USR1 -P $MAINPID cava

[Install]
WantedBy=sway-session.target
